.igi-import-data {
	margin-right: 2em;
}

.igi-header .igsubmit {
	border-radius: 6px;
	border-width: 1px;
	padding: 3px 8px;
	cursor: pointer;
}

.igi-header .igsubmit.test {
	background-color: #97ffb6;
}

.igi-header .igsubmit.import {
	background-color: #f9f782;
}

.igi-header .igsubmit:hover {
	background-color: #fff;
}

.igi-status-note {
	padding-left: 0.5em;
}

.igi-status-note.error {
	border-left: 2px solid #e60000;
}

.igi-status-note.success {
	border-left: 2px solid #00be00;
}

.igi-import-data pre {
	background: #fff;
	border: 1px solid #000;
	height: 150px;
	overflow: auto scroll;
	resize: vertical;
}

.igi-import-data ul {
	list-style: disc;
	margin-left: 1em;
}

.igi-import-data .posts-list {
	height: 500px;
	overflow: auto scroll;
	resize: vertical;
	border: 1px solid #666;
	padding: 0.5em;
	margin-left: 0;
}

.igi-import-data .posts-list .post {
	background: #fff;
	margin: 0 0 1em 0;
	padding: 0.5em;
}

.igi-import-data .posts-list .post li {
	margin-left: 1.25em;
}

.igi-import-data .posts-list .post .media-urls ul {
	list-style: circle;
}

.igi-import-data .posts-list .post .media-list li {
	display: inline-block;
	margin: 1em 1em 0 0;
	padding: 0;
}

.igi-import-data .posts-list .post .media-list img,
.igi-import-data .posts-list .post .media-list video {
	width: 200px;
	height: 200px;
	outline: 1px solid #f1f1f1;
	margin-right: 1em;
}
