@import url(https://fonts.bunny.net/css?family=abeezee:400);

/* Site title. */
.wp-block-site-title {
	text-align: center;
	margin-bottom: 1em !important;
	font-size: 3em;
	font-family: ABeeZee, sans-serif;
}

.wp-block-query .wp-block-post {
	border: 1px solid #ccc;
	padding: 0 1em 1em 1em;
	box-shadow: 5px 5px 5px #999;
	box-sizing: border-box;
	border-radius: 3px;
	transition: all 0.5s ease-out;
}

.wp-block-query .wp-block-post:hover {
	border: 1px solid #007575;
	box-shadow: 5px 5px 5px #000;
}

.wp-block-query .wp-block-post a {
	text-decoration: none;
}

.wp-block-query .wp-block-post-content {
	display: grid;
	grid-template-columns: 1fr;
}

.wp-block-query .wp-block-group {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1em;
	row-gap: 1em;
	margin-block-start: 1em !important;
}

.wp-block-query .wp-block-group.has-1-items {
	grid-template-columns: 1fr;
}

.wp-block-query .wp-block-group.has-2-items,
.wp-block-query .wp-block-group.has-3-items,
.wp-block-query .wp-block-group.has-4-items {
	grid-template-columns: 1fr 1fr;
}

.wp-block-query .wp-block-group figure {
	margin-block-start: 0 !important;
	display: flex;
}

.wp-block-query .wp-block-group .wp-block-video {
	position: relative;
}

.wp-block-query .wp-block-group .wp-block-video::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	/* stylelint-disable */
	background-image: linear-gradient(
		-45deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(5, 5, 5, 0) 49%,
		rgb(0, 0, 0, 0.75) 50%
	);
	/* stylelint-enable */
	width: 50%;
	height: 50%;
}

.wp-block-query .wp-block-group .wp-block-video::after {
	content: "📺";
	position: absolute;
	top: -2px;
	left: 2px;
	z-index: 1;
}
.wp-block-query .wp-block-group.has-1-items .wp-block-video::after {
	font-size: 3em;
	top: 3px;
	left: 14px;
}
.wp-block-query .wp-block-group.has-2-items .wp-block-video::after,
.wp-block-query .wp-block-group.has-3-items .wp-block-video::after,
.wp-block-query .wp-block-group.has-4-items .wp-block-video::after {
	font-size: 1.25em;
	top: 3px;
	left: 8px;
}

.wp-block-query .wp-block-quote {
	padding: 0.5em 0 0.5em 0;
	margin: 0.5em 0 0 0;
	border-bottom: 1px solid #ccc;
	font-family: ABeeZee, sans-serif;
	font-size: 0.75em;
}

.wp-block-query .wp-block-quote p {
	padding: 0;
	margin: 0;
}

.wp-block-query .wp-block-post-date {
	text-align: right;
	font-style: italic;
	font-size: 0.75em;
	padding: 0.5em 0 0 0;
	color: #666;
}

figure {
	outline: 1px solid #ccc;
}

.single .wp-block-quote {
	padding: 0.5em 0 0.5em 0.75em;
	border-left: 3px solid #007575;
}
.single .wp-block-quote p {
	margin: 0;
	padding: 0;
}
